<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Assigned</th>
      <th>Due</th>
      <th>Time Elapsed</th>
      <th>Completed</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= assignment.name %></td>
        <td><%= assignment.assigned_on %></td>
        <td><%= assignment.due_on %></td>
        <td><%= time_hms assignment.time_elapsed %></td>
        <td><%= assignment.completed %> %</td>
        <td>
          <%= link_to 'Show', user_klass_assignment_path(@user, @klass, assignment) %>
        </td>
        <td>
          <%= link_to 'Edit', edit_user_klass_assignment_path(@user, @klass, assignment) %>
        </td>
        <td>
          <%= link_to 'Destroy', user_klass_assignment_path(@user, @klass, assignment),
                method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
