<h1>Listing assignments</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Assigned on</th>
      <th>Due on</th>
      <th>Percent completed</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= assignment.name %></td>
        <td><%= assignment.assigned_on %></td>
        <td><%= assignment.due_on %></td>
        <td><%= assignment.percent_completed %></td>
        <td>
          <%= link_to 'Show', user_klass_assignment_path(@user, @klass, assignment) %>
        </td>
        <td>
          <%= link_to 'Edit', edit_user_klass_assignment_path(@user, @klass, assignment) %>
        </td>
        <td>
          <%= link_to 'Destroy', user_klass_assignment_path(@user, @klass, assignment),
                method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assignment', new_user_klass_assignment_path(@user, @klass) %>
