<%= form_for [@user, @klass, @assignment, @problem], html: { class: 'uk-form' } do |f| %>
  <% if @problem.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@problem.errors.count, "error") %>
        prohibited this problem from being saved:
      </h2>

      <ul>
        <% @problem.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="uk-grid">
    <div class="uk-width-1-2">
      <%= f.label :prompt %><br>
      <%= f.text_area :prompt, style: 'width: 95%; height: 200px;' %>
    </div>

    <div class="uk-width-1-2">
      <%= f.label :notes %><br>
      <%= f.text_area :notes, style: 'width: 95%; height: 200px;' %>
    </div>
  </div>

  <br />

  <div class="actions">
    <%= f.submit 'Create Problem', class: 'uk-button-primary' %>
  </div>
<% end %>

<br />
