<%= form_for [@user, @klass, @assignment, @problem] do |f| %>
  <% if @problem.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@problem.errors.count, "error") %>
        prohibited this problem from being saved:
      </h2>

      <ul>
        <% @problem.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" id="prompt">
    <%= f.label :prompt %><br>
    <%= f.text_area :prompt %>
  </div>

  <div class="field" id="notes">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
