<table>
  <thead>
    <tr>
      <th></th>
      <th>Time elapsed</th>
      <th>Completed</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @problems.each do |problem| %>
      <tr>
        <td>Problem number</td>
        <td><%= time_hms problem.time_elapsed %></td>
        <td><%= problem.completed %></td>
        <td>
          <%= link_to 'Show', user_klass_assignment_problem_path(
                @user, @klass, @assignment, problem) %>
        </td>
        <td>
          <%= link_to 'Edit', edit_user_klass_assignment_problem_path(
                @user, @klass, @assignment, problem) %>
        </td>
        <td>
          <%= link_to 'Destroy', user_klass_assignment_problem_path(
                  @user, @klass, @assignment, problem),
                method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
