<script>
  start_time_interval('<%= user_klass_assignment_problem_time_path(@user, @klass, @assignment, @problem) %>');
</script>

<h1>Editing problem</h1>

<%= form_for [@user, @klass, @assignment, @problem] do |f| %>
  <% if @problem.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@problem.errors.count, "error") %>
        prohibited this problem from being saved:
      </h2>

      <ul>
        <% @problem.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :prompt %><br>
    <%= f.text_area :prompt %>
  </div>

  <div class="field">
    <%= f.label :latex %><br>
    <%= f.text_area :latex %>
  </div>

  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>

  <div class="field">
    <%= f.label :completed %><br>
    <%= f.check_box :completed %>
  </div>

  <script type="text/javascript">
    function show_button()
    {
      $('#preview-frame').css('display', '');
      $('#preview-content').attr( 'src',
        '<%= user_klass_assignment_problem_view_path(
          @user, @klass, @assignment, @problem) %>'
      );
    }
  </script>

  <button type="button" id="preview-button" onclick="show_button()">Preview</button>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
  var time = <%= @problem.time_elapsed.to_i * 1000 %>;

  function to_format(dat)
  {
    var d = new Date(dat);

    return [d.getHours(), d.getMinutes(), d.getSeconds()].join(':');
  }

  var every_second = window.setInterval(function () {
    time += 1000;
    $('#time-elapsed').html(to_format(time));
  }, 1000);

  $('#time-elapsed').html(to_format(time));
</script>

<h3 id="time-elapsed"></h3>

<div id="preview-frame" style="display: none; width: 750px;">
  <iframe id="preview-content" src="" style="width: 100%"></iframe>
</div>

<%= link_to 'Show', user_klass_assignment_problem_path(
      @user, @klass, @assignment, @problem) %> |
<%= link_to 'Back', user_klass_assignment_path(@user, @klass, @assignment) %>
