<script>
  start_time_interval('<%= user_klass_assignment_problem_time_path(@user, @klass, @assignment, @problem) %>');
</script>

<h1>Editing problem</h1>

<%= form_for [@user, @klass, @assignment, @problem], html: { class: 'uk-form' } do |f| %>
  <% if @problem.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@problem.errors.count, "error") %>
        prohibited this problem from being saved:
      </h2>

      <ul>
        <% @problem.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="uk-grid">
    <div class="field uk-width-4-6">
      <%= f.label :latex %><br>
      <%= f.text_area :latex, style: 'width: 95%; height: 300px;' %>
    </div>

    <div class="uk-width-2-6">
      <%= f.label :prompt %><br>
      <%= f.text_area :prompt, style: 'width: 95%; height: 300px;' %>
    </div>
  </div>

  <div class="uk-grid">
    <div class="field uk-width-4-6">
      <%= f.label :notes %><br>
      <%= f.text_area :notes, style: 'width: 95%; height: 100px;' %>
    </div>

    <div class="uk-width-2-6">
      <div class="uk-grid">
        <div class="uk-width-1-2">
          <h3 id="time-elapsed"></h3>
        </div>

        <div class="uk-width-1-2">
          <%= f.label :completed, 'Are you done?' %><br>
          <%= f.check_box :completed %>
        </div>
      </div>

      <div class="uk-grid">
        <div class="uk-width-1-3">
          <button type="button" id="preview-button" onclick="show_button()"
            class="uk-button-primary" data-uk-modal="{target: '#pdf-modal'}">
            Preview
          </button>
        </div>

        <div class="uk-width-1-3">
          <%= f.submit 'Save', class: 'uk-button' %>
        </div>

        <div class="uk-width-1-3">
          <%= link_to 'Back', user_klass_assignment_path(@user, @klass, @assignment),
              class: 'uk-button' %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
  function show_button()
  {
    $('#preview-content').attr( 'src',
      '<%= user_klass_assignment_problem_view_path(
        @user, @klass, @assignment, @problem) %>'
    );
  }

  var time = <%= @problem.time_elapsed %>;

  function to_format(seconds)
  {
    var hours = Math.floor(seconds / 3600);
    var minutes = Math.floor(seconds / 60 - hours * 60);
    var seconds = Math.floor(seconds - (minutes * 60 + hours * 3600));

    return [hours, minutes, seconds].join(':');
  }

  var every_second = window.setInterval(function () {
    time++;
    $('#time-elapsed').html(to_format(time));
  }, 1000);

  $('#time-elapsed').html(to_format(time));
</script>

<div id="pdf-modal" class="uk-modal">
  <a class="uk-modal-close uk-close"></a>

  <iframe id="preview-content" src="" style="width: 100%; height: 500px"></iframe>
</div>
