<p>
  <strong>Prompt:</strong>
  <%= @problem.prompt %>
</p>

<p>
  <strong>Text:</strong>
  <%= @problem.text %>
</p>

<p>
  <strong>Latex:</strong>
  <%= @problem.latex %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @problem.notes %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @problem.completed %>
</p>

<%= link_to 'Edit', edit_user_klass_assignment_problem_path(
      @user, @klass, @assignment, @problem) %> |
<%= link_to 'Back', user_klass_assignment_problems_path(@user, @klass, @assignment) %>
