<p>
  <strong>Prompt:</strong>
  <%= @problem.prompt %>
</p>

<p>
  <strong>Latex:</strong>
  <%= @problem.latex %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @problem.notes %>
</p>

<p>
  <strong>Time Elapsed</strong>
  <%= time_hms @problem.time_elapsed %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @problem.completed %>
</p>

<%= link_to 'Work on Problem', edit_user_klass_assignment_problem_path(
      @user, @klass, @assignment, @problem), class: 'uk-button' %>
<%= link_to 'Back', user_klass_assignment_path(@user, @klass, @assignment),
      class: 'uk-button' %>
