<!DOCTYPE html>
<html>
  <head>
    <title>Slacknot!</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application"  %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="site-title">
      <h1>
        <%= link_to 'Slacknot!', root_path %>
      </h1>
    </div>

    <div class="user-status" align="right">
      <% if user_signed_in? %>
        Welcome back <%= current_user.email %>!
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Sign in', new_user_session_path %>
        or
        <%= link_to 'Sign up', new_user_registration_path %>
      <% end %>
    </div>

    <div class="user-nav" align="right">
      <% if user_signed_in? %>
        <%= link_to 'Pipeline', user_pipeline_path(current_user), class: 'uk-button' %>
        <%= link_to 'My Classes', user_klasses_path(current_user), class: 'uk-button' %>
        <%= link_to 'Graphs', user_graphs_path(current_user), class: 'uk-button' %>
      <% end %>
    </div>

    <div class="site-content">
      <div align="center">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
