<h1>Listing classes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @klasses.each do |klass| %>
      <tr>
        <td><%= klass.name %></td>
        <td><%= link_to 'Show', user_klass_path(@user, klass) %></td>
        <td><%= link_to 'Edit', edit_user_klass_path(@user, klass) %></td>
        <td>
          <%= link_to 'Destroy', user_klass_path(@user, klass),
                method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New class', new_user_klass_path(@user) %>
