<div align="center">
  <h1><%= @klass.name %></h1>

  <h2>Assignments</h2>

  <%= render 'assignments/listing' %>

  <br />

  <button type="button" class="uk-button-primary">
    <%= link_to 'New Assignment', new_user_klass_assignment_path(@user, @klass) %>
  </button>
  <%= link_to 'Edit Class', edit_user_klass_path(@user, @klass), class: 'uk-button' %>
  <%= link_to 'Back', user_klasses_path(@user), class: 'uk-button' %>
</div>
